---
import InteractiveCarousel from "@/components/InteractiveCarousel";
---

<div class="bg-[#FEF7F2] flex flex-col min-h-[135vh] w-full px-2 py-20" id="agents">
    <h4 class="text-4xl font-extrabold text-center leading-[50px] mb-5">
        What People Say About Dwello
    </h4>
    <div class="flex items-center justify-center mt-20">
        <InteractiveCarousel client:load />
    </div>
</div>
