---
import { Input } from "./ui/input";
const { title, icon ,class: className} = Astro.props;

---

<div class="relative">
    <div class="absolute left-2.5 top-4 h-4 w-4 text-muted-foreground">
        <img src={`/${icon}`} alt="" />
    </div>
    <Input
        id="search"
        type="search"
        placeholder={title}
        className={`${className} rounded-lg -mt-[1.2px] bg-[#FBF5F1] pl-8 py-6`}
    />
</div>
